:root {
  --sky-background: url("https://i.imgur.com/BwZInrk.jpeg");
  --commission-background: url("https://i.imgur.com/5zNq0di.png");
  --avatar-image: url("https://i.imgur.com/v3el6Nv.jpeg");
  --description-square-1: url("https://i.imgur.com/C4Bs2ct.png");
  --description-square-2: url("https://i.imgur.com/5nHHDvq.png");
  --description-square-3: url("https://i.imgur.com/7ro59Qw.png");
  --description-square-4: url("https://i.imgur.com/wdccQXE.png");
  --quote-main-image: url("https://i.imgur.com/7xXSPV3.png");
  --quote-strip-image: url("https://i.imgur.com/OraliWn.png");
  --picture-image: url("https://i.imgur.com/2cJYbMq.png");
  --grid-gap: 2;
  --grid-small-gap: 1;
  --grid-social-gap: 5;
  --grid-start: 1;
  --grid-end: 86;
  --grid-gap-bottom: 4;
  --grid-description-column-start: var(--grid-start);
  --grid-description-column-end: 48;
  --grid-description-row-start: var(--grid-start);
  --grid-description-row-end: 62;
  --grid-commission-column-start: calc(var(--grid-description-column-end) + var(--grid-gap));
  --grid-commission-column-end: var(--grid-end);
  --grid-commission-row-start: var(--grid-start);
  --grid-commission-row-end: 24;
  --grid-strip-size: 4;
  --grid-quote-column-start: 25;
  --grid-quote-column-end: 68;
  --grid-quote-column-strip-start: calc(var(--grid-quote-column-end) - var(--grid-strip-size));
  --grid-qoute-column-main-end: calc(var(--grid-quote-column-strip-start) - var(--grid-small-gap));
  --grid-quote-row-start: calc(var(--grid-commission-row-end) + var(--grid-gap));
  --grid-quote-row-top: calc(var(--grid-quote-row-start) + var(--grid-strip-size));
  --grid-quote-row-end: calc(var(--grid-end) - var(--grid-gap-bottom));
  --grid-quote-row-bottom: calc(var(--grid-quote-row-end) - 1.5*var(--grid-strip-size));
  --grid-picture-column-start: calc(var(--grid-quote-column-end) + var(--grid-small-gap));
  --grid-picture-column-end: var(--grid-end);
  --grid-picture-row-start: 57;
  --grid-picture-row-end: calc(var(--grid-end) - var(--grid-gap-bottom));
  --grid-avatar-size: 18;
  --grid-avatar-column-start: calc(var(--grid-description-column-end) - var(--grid-avatar-size)/2);
  --grid-avatar-column-end: calc(var(--grid-avatar-column-start) + var(--grid-avatar-size));
  --grid-avatar-row-start: calc(var(--grid-quote-row-start) - var(--grid-avatar-size)/2);
  --grid-avatar-row-end: calc(var(--grid-avatar-row-start) + var(--grid-avatar-size));
  --two-star-column-end: calc(var(--grid-quote-column-start) - 2*var(--grid-gap));
  --two-star-row-start: calc(var(--grid-description-row-end) + var(--grid-gap));
  --border-radius: 0.3rem;
  --big-border-radius: 1rem;
  --border: 0.3rem solid white;
  --border-transparent: 0.3rem solid rgba(255, 255, 255, 0.4);
  --small-border: 0.1rem solid white;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background-color: rgb(211, 223, 227);
  color: rgb(132, 164, 186);
}

.my-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

body,
html {
  position: relative;
  font-size: 2vh;
  font-family: "Dosis", serif;
  color: white;
  background-color: rgb(78, 131, 164);
  background-image: var(--sky-background);
  background-size: cover;
  background-attachment: fixed;
  background-position: left top;
}

.sidebar,
.collapsed-sidebar .side-nav {
  background: linear-gradient(0deg, #002640 0%, #15405c 100%);
}

.header {
  background: #16211d;
}

.side-nav li.header {
  display: none;
  background: #15405c;
}

.display-user>a,
.side-nav li>a {
  color: rgb(132, 164, 186);
  font-family: "Dosis", serif;
  transition: background-color 0.3s, color 0.3s;
}

.display-user>a:hover,
.side-nav li>a:hover {
  background-color: rgba(76, 109, 229, 0.1);
  color: white;
}

.display-user-avatar {
  width: 5rem;
  border: 0.1rem solid white;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3), inset 0 0 0.5rem rgba(255, 255, 255, 0.3);
}

.side-nav li>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .75rem;
  margin: 1rem;
  color: rgb(132, 164, 186);
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-icon {
  order: 1;
}

.side-nav li.divider {
  border-color: #002640;
}

.container {
  margin: 1.5rem;
  display: grid;
  height: 94vh;
  width: 94vh;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(88, minmax(0, 1fr));
  grid-template-rows: repeat(88, minmax(0, 1fr));
}

.description,
.commission,
.avatar,
.social-media,
.picture {
  z-index: 1;
}

.glow {
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3), inset 0 0 0.5rem rgba(255, 255, 255, 0.3);
}

.star {
  aspect-ratio: 1/1;
  filter: brightness(0) saturate(100%) invert(100%);
}

.star.christmas {
  height: 1.8rem;
}

.star.five {
  height: 1rem;
}

.star.two {
  height: 1.8rem;
}

.star.two-christmas {
  height: 1.8rem;
}

.st0,
.st1 {
  stroke: white;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st1 {
  stroke-width: 8.7066;
}

.star::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 75%);
  transform: translate(-50%, -45%);
}

.description {
  grid-column: var(--grid-description-column-start) / var(--grid-description-column-end);
  grid-row: var(--grid-description-row-start) / var(--grid-description-row-end);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 5%;
  background: linear-gradient(0deg, rgb(159, 194, 213) 0%, rgb(145, 181, 200) 100%);
  flex-direction: column;
}

.bio {
  border: var(--small-border);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 5% 5%;
  height: 80%;
  position: relative;
}

.bio-center,
.bio-left,
.bio-right {
  position: absolute;
  top: 0;
  transform: translate(-50%, -52.5%);
}

.bio-left {
  left: -0.25%;
}

.bio-center {
  left: 50%;
}

.bio-right {
  left: 100.25%;
}

.nickname {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-basis: 42%;
  min-height: 6rem;
  line-height: 122%;
  font-size: 6rem;
  font-family: "Ballet", cursive;
}

.bio-medium-text {
  flex-basis: 9%;
  font-size: 1.2rem;
  text-align: center;
}

.bio-transparent-box {
  flex-basis: 49%;
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.25);
}

.green-squares {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
}

.square {
  width: calc(100% / 4);
  aspect-ratio: 1/1.1;
  vertical-align: top;
}

.overlay-square-text {
  position: absolute;
  bottom: 0;
  right: 1%;
  transform: translateY(25%);
}

.overlay-square-text::before {
  content: "young dandelion";
  text-align: right;
  font-size: 2rem;
  font-family: "Ballet", cursive;
  overflow: hidden;
}

.green1 {
  background-color: #16221e;
  background-image: var(--description-square-1);
}

.green2 {
  background-color: #4c5c41;
  background-image: var(--description-square-2);
}

.green3 {
  background-color: #16221e;
  background-image: var(--description-square-3);
}

.green4 {
  background-color: #4c5c41;
  background-image: var(--description-square-4);
}

.commission {
  grid-column: var(--grid-commission-column-start) / var(--grid-commission-column-end);
  grid-row: var(--grid-commission-row-start) / var(--grid-commission-row-end);
  border: var(--border-transparent);
  border-radius: var(--big-border-radius);
  display: grid;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  background-color: #506a81;
  background-image: var(--commission-background);
  background-size: 105% 105%;
}

.center-part {
  grid-row: 2 / 6;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.sub-part {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.text-commission {
  font-size: 1.2rem;
;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left;
  padding-left: 20%;
}

.text-right {
  text-align: right;
  padding-right: 20%;
}

.text-right[data-status="open"]::after {
  content: "OPEN";
}

.text-right[data-status="closed"]::after {
  content: "CLOSED";
  color: black;
}

.avatar {
  grid-column: var(--grid-avatar-column-start) / var(--grid-avatar-column-end);
  grid-row: var(--grid-avatar-row-start) / var(--grid-avatar-row-end);
  position: relative;
  z-index: 2;
}

.avatar-diamond {
  height: 100%;
  aspect-ratio: 1/1;
  border: var(--small-border);
  place-items: center;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.avatar-diamond:hover {
  transform: rotate(45deg) scale(1.05);
}

.avatar-image {
  height: 100%;
  aspect-ratio: 1/1;
  border: var(--small-border);
  border-radius: 50%;
  transform: rotate(-45deg);
  background-color: #5eb8df;
  background-image: var(--avatar-image);
  background-size: 100% 100%;
}

.avatar-element {
  position: absolute;
  bottom: 0;
  left: -1rem;
}

.quote-main {
  grid-column: var(--grid-quote-column-start) / var(--grid-qoute-column-main-end);
  background-color: #16221e;
  z-index: 0;
}

.quote-strip {
  grid-column: var(--grid-quote-column-strip-start) / var(--grid-quote-column-end);
  background-color: #16221e;
}

.quote-main.top,
.quote-strip.top {
  grid-row: var(--grid-quote-row-start) / var(--grid-quote-row-top);
  border: var(--border);
}

.quote-main.content,
.quote-strip.content {
  grid-row: var(--grid-quote-row-top) / var(--grid-quote-row-bottom);
  border-left: var(--border);
  border-right: var(--border);
;
}

.quote-main.bottom,
.quote-strip.bottom {
  grid-row: var(--grid-quote-row-bottom) / var(--grid-quote-row-end);
  border: var(--border);
  font-size: 0.8rem;
  color: rgb(132, 164, 186);
  display: grid;
  place-items: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}

.quote-main.top {
  position: relative;
  border-top-left-radius: var(--big-border-radius);
}

.quote-main.content {
  background-image: var(--quote-main-image);
}

.quote-main.bottom {
  border-bottom-left-radius: var(--big-border-radius);
}

.quote-main-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.01rem;
  background-color: white;
}

.quote-strip.top {
  border-top-right-radius: var(--big-border-radius);
  display: grid;
  place-content: center;
}

.quote-strip.content {
  background-image: var(--quote-strip-image);
}

.quote-strip.bottom {
  border-bottom-right-radius: var(--big-border-radius);
}

.social-media {
  grid-column: calc(var(--grid-quote-column-end) + var(--grid-gap)) / calc(var(--grid-end) - var(--grid-gap));
  grid-row: calc(var(--grid-commission-row-end) + var(--grid-social-gap)) / calc(var(--grid-picture-row-start) - var(--grid-social-gap));
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.social-part {
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.3s;
  background-size: 40% 40%;
}

.social-part:hover {
  transform: scale(1.05);
}

.social-icon {
  height: calc((100% / sqrt(2)));
  aspect-ratio: 1/1;
  border: var(--small-border);
  transform: rotate(45deg);
  display: flex;
  place-items: center;
  place-content: center;
}

.instagram,
.furaffinity,
.discord {
  transform: rotate(-45deg);
  fill: white;
  height: 70%;
  aspect-ratio: 1/1;
}

.picture {
  grid-column: var(--grid-picture-column-start) / var(--grid-picture-column-end);
  grid-row: var(--grid-picture-row-start) / var(--grid-picture-row-end);
  background-image: var(--picture-image);
  background-size: contain;
}

.decoration-element {
  grid-column-end: var(--two-star-column-end);
  grid-row-start: var(--two-star-row-start);
}

@media (max-width: 768px) {

  body,
  html {
    font-size: calc(2vw * (92/94))
  }

  .container {
    height: 92vw;
    width: 92vw;
  }
}
